// This is the equivalent of `minimal.ts.ron`
(
    sources: [
        // Multi-tile image
        (
            path: "tiles_abcd.png",
            layout: Auto,
            image_settings: None,
        ),
        // Single-tile images
        (
            path: "tile_e.png",
            layout: Auto,
            image_settings: None,
        ),
        (
            path: "tile_f.png",
            layout: Auto,
            image_settings: None,
        ),
    ],
    tile_size: (16, 16),
    tile_filter: All,
    tile_groups: {
        "vowels": [(0, 0), (1, 0)],
        "consonants": [(0, 1), (0, 2), (0, 3), (2, 0)],
    },
)
